.boardContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  overflow-x: hidden;
  height: 900px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 0 auto;
  position: absolute;
  width: 1440px;
  max-width: 1440px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.columnsContainer {
  display: flex;
  gap: 16px;
  overflow-x: hidden;
  justify-content: center;
}
