.progressContainer {
  display: flex;
  align-items: center;
  margin-top: 12px;
  width: 100%;
}

.progressInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 12px;
  white-space: nowrap;
}

.progressText {
  font-weight: 700;
  font-size: 14px;
  color: #537bf3;
  line-height: 1.43em;
}

.progressLabel {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 1.43em;
}

.progressBar {
  flex: 1;
  height: 8px;
  background-color: #e7e8ea;
  border-radius: 9999px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background-color: #537bf3;
  border-radius: 9999px;
  transition: width 0.3s ease-in-out;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  animation: progressAnimation 2s linear infinite;
}

@keyframes progressAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.tasksButtonContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  height: calc(100% - 68px);
  overflow: hidden;
  position: relative;
  scrollbar-gutter: stable;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 8px,
    black calc(100% - 8px),
    transparent
  );
}